h2 {
    color: white;
    margin: auto;
    margin-left: 16px;
}

.cardImage {
    display: flex;
    height: 300px;
    width: auto;
    justify-content: center;
    align-items: center;
}

.cardText {
    height: 305px;
    width: auto;
    color: white;
}