.addText {
    color: white;
    display: flex;
    justify-content: center;
}

.addForm {
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    background-color: grey;
    color: white;
}

::placeholder{
    color: white;
}